@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,600;12..96,700;12..96,800&family=Caveat&family=League+Gothic&family=Rubik+Wet+Paint&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  font-family: 'Bricolage Grotesque';
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/

:root {
  font-family: 'Bricolage Grotesque';
  --amarelo: #f2e66e;
  --amarelo-shade: #d9cf62;
  --amarelo-shade-escuro: #736d34;
  --azul: #5cc6d3;
  --laranja: #fab365;
  --laranja-shade: #e09f5a;
  --laranja-shade-escuro: #7a5731;
  --azul-claro: #addee2;
  --azul-claro-shade: #9bc6c9;
  --azul-claro-shade-escuro: #4d6263;
  --verde: #c2fe5f;
  --texto: #212529;
  --fundo: #f0f9fa;
  --fundo-laranja: #fef7cb;
  --fundo-shade: #d7e0e0;
  --placeholder: #135b60;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background-image: url(./img/padrao.png);
  width: 100vw;
  height: 100vh;
}

main {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'hero card'
    'hero botoes';

  place-items: center;
}

.hero {
  width: 100%;
  height: 100%;
  background-image: url(img/bg-1200x271.png);
  grid-area: hero;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--texto);
  background-position-x: right;
}

.hero img {
  padding: 20px;
  min-width: 450px;
  width: 80%;
}

.card-inicial {
  background-color: var(--azul);
  border-radius: 16px;
  border: 2px solid #212529;
  display: flex;
  justify-content: center;
  height: 550px;
  padding: 30px;
  grid-area: card;
}

.botoes {
  display: flex;
  justify-content: space-between;
  width: 334px;
  padding-bottom: 15px;
  grid-area: botoes;
}
.botoes .btn {
  height: 50px;
  width: 160px;
}
label {
  font-size: 24px;
}

input,
select {
  height: 35px;
  padding: 0 8px 0 8px;
}

::placeholder {
  color: var(--placeholder);
}

.card-conteudo {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.card-conteudo img {
  margin: auto;
}
.foto-card {
  width: 100%;
  height: 270px;
  background-color: var(--fundo);
  border-radius: 16px;
  border: 2px solid var(--texto);
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto-card:hover,
select:hover {
  background-color: var(--fundo-shade);
}
.foto-card img {
  width: 170px;
}
.botoes-esporte {
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
}
.round-border {
  border-radius: 16px;
  border: 2px solid #212529;
}

.botao-amarelo {
  height: 45px;
  --bs-btn-font-weight: bold;
  --bs-btn-color: var(--texto);
  --bs-btn-bg: var(--amarelo);
  --bs-btn-border-color: var(--texto);
  --bs-btn-hover-bg: var(--amarelo-shade);
  --bs-btn-hover-border-color: var(--texto);
  --bs-btn-active-color: var(--texto);
  --bs-btn-active-bg: var(--amarelo);
  --bs-btn-active-border-color: var(--texto);
}

.botao-laranja {
  height: 45px;
  --bs-btn-font-weight: bold;
  --bs-btn-color: var(--texto);
  --bs-btn-bg: var(--laranja);
  --bs-btn-border-color: var(--texto);
  --bs-btn-hover-bg: var(--laranja-shade);
  --bs-btn-hover-border-color: var(--texto);
  --bs-btn-active-color: var(--texto);
  --bs-btn-active-bg: var(--laranja);
  --bs-btn-active-border-color: var(--texto);
}

.botoes-esporte label {
  width: 60px;
  height: 40px;
}

.basquete {
  height: 45px;
  background-color: var(--laranja-shade-escuro);
  border-color: var(--texto);
  --bs-btn-active-bg: var(--laranja);
}
.basquete:hover {
  background-color: var(--laranja) !important;
  border-color: var(--texto);
}
.futsal {
  height: 45px;
  background-color: var(--azul-claro-shade-escuro);
  --bs-btn-active-bg: var(--azul-claro);
}
.futsal:hover {
  background-color: var(--azul-claro) !important;
  border-color: var(--texto);
}
.volei {
  height: 45px;
  background-color: var(--amarelo-shade-escuro);
  --bs-btn-active-bg: var(--amarelo);
}

.volei:hover {
  background-color: var(--amarelo) !important;
  border-color: var(--texto);
}

#botao-add {
  height: 50px;
  font-size: 24px;
}
.btn-check + .btn:hover {
  border-color: var(--texto);
}
.jogo {
  background-color: var(--azul);
  border-radius: 16px;
  border: 2px var(--texto) solid;
  width: 330px;
  height: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.vencer {
  height: 40px;
  font-weight: bold;
  border-radius: 16px;
  background-color: var(--verde);
  border: 2px var(--texto) solid;
}
.time {
  width: 100px;
  text-align: center;
}
.time h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  min-height: 40px;
  border-radius: 16px;
  background-color: var(--laranja);
  border: 2px var(--texto) solid;
  font-size: 16px;
  font-weight: bold;
}

.vencedor {
  color: green;
}

.perdedor {
  color: red;
}

#jogos,
#tabelas {
  grid-template-columns: 1fr;
  grid-template-rows: 300px 60px auto;
  grid-template-areas:
    'header'
    'menu'
    'jogos';
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: header;
  background-image: url(./img/bg.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  border-bottom: 2px var(--texto) solid;
}
.header img {
  height: 80%;
}
#jogos .botoes-esporte,
#tabelas .botoes-esporte {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  background-color: var(--fundo-laranja);
  border-bottom: 2px var(--texto) solid;
  grid-area: menu;
}

.jogos {
  margin-top: 20px;
  width: 100%;
  grid-area: jogos;
  display: flex;
  justify-content: center;
}

#basquete-div,
#futsal-div,
#volei-div {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: row;
}
.tabela,
tr,
th,
td {
  border: 2px solid black;
  background-color: white;
}
